<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <!-- Imported resources for cxf -->
    <context:component-scan base-package="com"/>
    <bean id="restService" class="ru.remmy.RestService">
        <property name="userService" ref="serviceUser"/>
        <property name="taskService" ref="serviceTask"/>
        <property name="groupService" ref="serviceGroup"/>
    </bean>

    <bean id="jacksonMapper" class="ru.remmy.providers.CustomObjectMapper" />
    <bean id="serviceUser" class="ru.remmy.hibernate.services.UserServices" />
    <bean id="serviceTask" class="ru.remmy.hibernate.services.TaskServices" />
    <bean id="serviceGroup" class="ru.remmy.hibernate.services.GroupServices" />

    <jaxrs:server id="restContainer" address="/">
        <jaxrs:serviceBeans>
            <ref bean="restService"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean id="cors-filter" class="ru.remmy.providers.CORSFilter" />
            <bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJaxbJsonProvider">
                <property name="mapper" ref="jacksonMapper" />
            </bean>
        </jaxrs:providers>

    </jaxrs:server>
</beans>